# Dependencies recommeded for development

# Pre-commit hooks (must additionally install with `pre-commit install`)
pre-commit==2.17.0

# Style checks
flake8==3.9.2
flake8-import-order==0.18.1
flake8-builtins==1.5.3
flake8-eradicate==1.2.0
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
pep8-naming==0.12.1
flake8-docstrings==1.6.0
flake8-tidy-imports==4.6.0
flake8-print==4.0.0
flake8-json==19.8.0

# Static type checking
mypy==0.931

# Auto-formatting
isort==5.10.1
black==22.1.0

# Dependencies management
pip-autoremove==0.10.0
pipreqs==0.4.11

# Testing
coverage==6.3.2
pytest==7.0.1
pytest-cov==3.0.0
pytest-sugar==0.9.4
pytest-xdist==2.5.0
pytest-html==3.1.1

# For local development convenience
jupyter==1.0.0
jupyter_contrib_nbextensions==0.5.1