# CPFR Core library
#pg-ds-cf-cpfr-core~=0.7.1
#
## Pandas dataframes validations
## pandas handled by core
#pandas-schema~=0.3.5
#pyarrow~=7.0.0
#
## Azure dependencies
#azure-identity~=1.7.1
#azure-keyvault-secrets~=4.3.0
#azure-storage-blob~=12.9.0
## msal~=1.16.0 # managed by azure deps
#
## File types
#openpyxl~=3.0.9  # Excel read/write, prefer this to xlsxwriter
#
## Misc requirements
#importlib_metadata
#typing_extensions
#psutil~=5.9.0  # process utilities that work on Windows and Linux
#email-validator~=1.1.3  # used by pydantic as an extra

# D-CPFR Libraries - keep these updated!
pg-ds-cf-cpfr-core~=0.7.3
pg-ds-cf-cpfr-utils[spark,sklearn,statsmodels,lgbm,optuna,tsfeats]~=0.8.14

# ML Core
jupyter~=1.0.0
numpy<1.22.0  # see https://github.com/aesara-devs/aesara/issues/715 but for theano
pandas~=1.4.0
# others are utils[EXTRAS]

# Spark-related
# pyspark managed by `utils[spark]` above

# Bayesian modelling
pymc3~=3.11.4
xarray~=0.21.0  # managed by pymc3, but we are explicit here

# Visualization
matplotlib~=3.4.2
seaborn~=0.11.1
graphviz~=0.17

# File types
openpyxl~=3.0.7
# netcdf4 is managed by xarray
