# Dependencies recommeded for development

# Style checks
flake8==3.9.2
flake8-import-order==0.18.1
flake8-builtins==1.5.3
flake8-eradicate==1.1.0
flake8-quotes==3.3.0
flake8-variables-names==0.0.4
pep8-naming==0.12.1
flake8-docstrings==1.6.0
flake8-tidy-imports==4.5.0
flake8-print==4.0.0
flake8-json==21.7.0

# Static type checking
mypy==0.910

# Auto-formatting
black==21.9b0

# Dependencies management
pip-autoremove==0.10.0
pipreqs==0.4.10

# Testing
coverage==6.0.2
pytest==6.2.5
pytest-mock==3.6.1
pytest-cov==3.0.0
pytest-sugar==0.9.4
pytest-xdist==2.4.0
pytest-html==3.1.1
datacompy==0.7.3
